@font-face {
    font-family: 'Kaushan Script';
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url('Kaushanscript.woff2') format('woff2'), url('Kaushanscript.woff') format('woff'), url('Kaushanscript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
