.latest-blog{
	padding-bottom: 115px;
	.title-block{
		padding-top: 110px;
		width: 100%;
		text-align: center;
		.top-txt{
			font-size: 24px;
			font-family: 'Kaushan Script';
			color: rgb(51, 51, 51);
			line-height: 1.2;
			
		}
		.latest-title{
			font-size: 30px;
			font-family: 'Montserrat';
			color: rgb(51, 51, 51);
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.2;
			margin: 14px 0 35px;
		}
		.red-line{
			width: 60px;
			height: 3px;
			background: #f38181;
			float: none;
			margin: 0 auto;
			display: block;
			margin-bottom: 47px;
		}
	}
	article{
		a:hover{
			text-decoration: none;
		}
		.desc-block{
			position: relative;
			.date-block{
				position: absolute;
				top: -80px;
				left: -10px;
				width: 60px;
				height: 70px;
				background: #95e1d3;
				font-family: 'Montserrat';
				font-style: italic;
				font-size: 15px;
				text-align: center;
				padding-top: 12px;
				color: #fff;
				.day{
					width: 100%;
					font-style: normal;
					font-size: 30px;
					font-weight: bold;
					line-height: 100%;
					display: block;
				}
			}
			.title{
				margin: 17px 0 12px;
				font-size: 14px;
				font-family: 'Montserrat';
				color: rgb(51, 51, 51);
				text-transform: uppercase;
				line-height: 1.2;
			}
			.post-exc{
				font-size: 15px;
				font-family: "Roboto";
				color: rgb(153, 153, 153);
				line-height: 1.6;
				border-bottom: 1px solid #e5e5e5;
				padding-bottom: 16px;
			}
		}
		.counts-block{
			display: flex;
			font-size: 15px;
			font-family: "Roboto";
			color: rgb(153, 153, 153);
			font-style: italic;
			line-height: 1.6;
			.views{
				margin-right: 11px;
			}
			img{
				margin-top: -3px;
			}
		}
	}
	.read-more-block{
		width: 100%;
		text-align: center;
		padding-top: 47px;
		a{
			font-size: 14px;
			font-family: 'Montserrat';
			color: rgb(51, 51, 51);
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}
@media (max-width:1024px){
	.latest-blog{
		article{
			.desc-block{
				.post-exc{
					font-size: 12px;
				}
			}
		}
	}
}