body{
	img{
		max-width: 100%;
	}
	.container{
		max-width: 1200px;
	}
	header{
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 999;
		.navbar{
			.navbar-toggler{
                color: #fff;
            }
			width: 100%;
			.navbar-collapse{
				justify-content: flex-end;
				.navbar-nav{
					li{
						padding: 0 29px;
						a{
							font-size: 14px;
							font-family: "Montserrat";
							color: #fff;
							text-transform: uppercase;
							line-height: 1.2;
						}
						a:hover{
							text-decoration: none;
							border-bottom: 3px solid #fff;
						}
					}
					li:first-child{
						padding-left: 0;
					}
					.current_page_item{
						a{
							color: rgb(252, 227, 138);
							border-bottom: 3px solid rgb(252, 227, 138);
						}
					}
					li.icons{
						a{
							border: none;
						}
					}
				}
			}
		}
	}
}
.admin-bar{
	header{
		top: 32px;
	}
}
.nicescroll-rails {
	background-color: #f5f5f5;
	width: 5px!important;
}
.nicescroll-cursors {
	border: none !important;
	background-color: #95e1d3 !important;
	border-radius: 2px !important;
	width: 5px!important;
}
@media (max-width:991px){
	.navbar-collapse{
		background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(238,136,137,1) 0%, rgba(239,216,136,1) 100%);
		.navbar-nav{
			li{
				padding: 10px 29px!important;
				text-align: center;
			}
			li.icons{
				max-width: 50%;
				text-align: right;
			}
			li:last-child{
				width: 50%;
    			align-self: flex-end;
				text-align: left;
				margin-top: -44px;
			}
		} 
	}
}