body img {
  max-width: 100%; }
body .container {
  max-width: 1200px; }
body header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999; }
  body header .navbar {
    width: 100%; }
    body header .navbar .navbar-toggler {
      color: #fff; }
    body header .navbar .navbar-collapse {
      justify-content: flex-end; }
      body header .navbar .navbar-collapse .navbar-nav li {
        padding: 0 29px; }
        body header .navbar .navbar-collapse .navbar-nav li a {
          font-size: 14px;
          font-family: "Montserrat";
          color: #fff;
          text-transform: uppercase;
          line-height: 1.2; }
        body header .navbar .navbar-collapse .navbar-nav li a:hover {
          text-decoration: none;
          border-bottom: 3px solid #fff; }
      body header .navbar .navbar-collapse .navbar-nav li:first-child {
        padding-left: 0; }
      body header .navbar .navbar-collapse .navbar-nav .current_page_item a {
        color: #fce38a;
        border-bottom: 3px solid #fce38a; }
      body header .navbar .navbar-collapse .navbar-nav li.icons a {
        border: none; }

.admin-bar header {
  top: 32px; }

.nicescroll-rails {
  background-color: #f5f5f5;
  width: 5px !important; }

.nicescroll-cursors {
  border: none !important;
  background-color: #95e1d3 !important;
  border-radius: 2px !important;
  width: 5px !important; }

@media (max-width: 991px) {
  .navbar-collapse {
    background: linear-gradient(180deg, #020024 0%, #ee8889 0%, #efd888 100%); }
    .navbar-collapse .navbar-nav li {
      padding: 10px 29px !important;
      text-align: center; }
    .navbar-collapse .navbar-nav li.icons {
      max-width: 50%;
      text-align: right; }
    .navbar-collapse .navbar-nav li:last-child {
      width: 50%;
      align-self: flex-end;
      text-align: left;
      margin-top: -44px; } }
