.what-we-do{
	padding-bottom: 115px;
	.title-block{
		width: 100%;
		text-align: center;
		.top-txt{
			font-size: 24px;
			font-family: 'Kaushan Script';
			color: rgb(51, 51, 51);
			line-height: 1.2;
			
		}
		.title{
			font-size: 30px;
			font-family: "Montserrat";
			color: rgb(51, 51, 51);
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.2;
			margin: 14px 0 35px;
		}
		.red-line{
			width: 60px;
			height: 3px;
			background: #f38181;
			float: none;
			margin: 0 auto;
			display: block;
			margin-bottom: 40px;
		}
		.title-desc{
			font-size: 15px;
			font-family: "Roboto";
			color: rgb(153, 153, 153);
			text-align: center;
			line-height: 1.6;
			max-width: 958px;
			float: none;
			margin: 0 auto 88px;
		}
	}
	.accordions-block{
		.card{
			margin-bottom: 10px;
			border-bottom: 1px solid #e5e5e5;
			border-radius: 0;
			font-size: 15px;
            font-family: "Roboto";
            color: rgb(153, 153, 153);
            font-style: italic;
            line-height: 1.6;
			.card-header{
				padding: 14px 15px;
				background: none;
				border: none;
				.btn-link{
					font-size: 14px;
					font-family: "Montserrat";
					color: rgb(51, 51, 51);
					text-transform: uppercase;
					padding: 0;
					width: 100%;
    				text-align: left;
					border: 0;
					img{
						margin-right: 15px;
					}
					.arrow{
						float: right;
						margin-right: 3px;
						margin-top: 8px;
					}
				}
				.btn-link.collapsed{
					.arrow{
						transform: rotate(180deg);
					}
				}
				.btn-link:active, .btn-link:focus{
					text-decoration: none;
				}
				.btn-link:hover{
					text-decoration: none;
				}
			}
			.collapse{
				margin: 20px 24px 20px 19px;
				max-height: 135px;
				overflow-y: scroll;
				.card-body{
					padding: 0 20px 0 0;
					
				}
			}
			.collapse.show{
				
			}
		}
		.card.opened{
			.card-header{
				border-bottom: 1px solid #e5e5e5;
			}
			
		}
		.card:not(:first-of-type):not(:last-of-type){
			border-bottom: 1px solid #e5e5e5;
		}
		.card:last-child{
			margin-bottom: 0;
			border-bottom: 0;
			border-bottom: 1px solid #e5e5e5;
			.collapse.show{
				
			}
			
		}
	}
}
